.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-question {
  width: 0.6669921875em;
}

.icon-checked {
  width: 1.2861328125em;
}

.icon-bell {
  width: 0.75em;
}

.icon-info {
  width: 0.888671875em;
}
