@import './styles/icons.scss';

@font-face {
  font-family: 'Gothem_pro';
  src: url(./assets/fonts/GothamPro.ttf);
}

body {
  background: #273345;
  margin: 0;
  padding: 0;
  font-family: 'Gothem_pro';
  line-height: 9px;
  overflow: hidden;

  #root {
    padding-left: 240px;
    padding-top: 95px;

    #dashboard {
      width: 100%;
      padding: 0px 5px 0 32px;
    }
  }
}

.body-block {
  margin: 0 0 20px 0;
  width: 1616px;

  .MuiTableCell-sizeSmall {
    padding: 5px 20px 5px 17px;
  }
}
